*{
    margin:0;
    padding:0;
    box-sizing:border-box;
    font-family:Roboto;
}
.container{
    background-color:#262626;
    padding:20px;
}
.nav-container{
    display:flex;
    padding:20px;
    justify-content:flex-end;
    margin-bottom:60px;
}
.logo{
    flex:1;
    padding-left:60px;
    text-transform:uppercase;
    font-size:35px;
    font-weight:600;
    color:#ffffff;
}
a{
    color:#ffffff;
    text-decoration:none;
    padding-left:20px;
    padding-right:20px;
    text-transform:uppercase;
}
.header-container{
    margin:20px;
}
.header{
    display:flex;
    justify-content: space-around;
}
.header-title{
    padding-bottom:15px;
    color:#ffffff;
    width:50%;
}
.header-tagline{
    font-family:roboto mono;
    color:#BFBFBF;
}
.header-button{
    margin-top:20px;
    padding:5px;
    width:100px;
    background-color:#000000;
    color:#FFFFFF;
    border:2px solid #000000;
    border-radius:5px;

}
.header-content{
    width:524px;
    padding-left:20px;
}
.header-photo{
    height:350px;
}
.header-photo img{
    width:100%;
    height:100%;
    border-radius:50%;
    border:4px solid #FFFFFF;
}
.info-title{
    text-align:center;
    margin-top:20px;
    margin-bottom:20px;
}
.info-container{
    display:flex;
    justify-content:center;
}
.info-grid{
    width:100px;
    height:100px;
    border:2px solid black;
    margin:35px;
}
.caption{
    display:inline-block;
    text-align:center;
}
.grid-img{
    width:100px;
    height:100px;
    background-color:blueviolet;
}
.quote-container{
   background-color:darkgrey;
   margin-top:90px;
   padding:40px;
}
.quote{
    padding:40px; 
    margin-left:200px;
    margin-right:200px;
}
.quote p{
    font-size:20px;
    font-style: italic;
}
.signup-container{
    margin-top:90px;
    display:flex;
    justify-content:center;
}
.signup-content{
    background-color:aquamarine;
    padding:40px;
    width:75%;
    border-radius:4px;
    display:flex;
    justify-content:space-around;
}
.signup-button{
    background-color:aquamarine;
    width:100px;
    height:30px;
    border:2px solid #ffffff;
    border-radius:4px;
}
footer{
    margin-top:90px;
    background-color:blueviolet;
}
.copyright{
    padding:20px;
    text-align:center;
}